.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.pytest_cache/
.DS_Store
.copier/
htmlcov/
dist/
build/

